<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="XMLType" value="XMLDocument"/>-->
		<add key="XMLType" value="XMLLINQ"/>
		<!--<add key="XMLType" value="XMLSerialization"/>-->
	</appSettings>
</configuration>